<?php
/**
 * @access protected
 * @author Judzhin Miles <info[woof-woof]msbios.com>
 */
namespace MSBios\Assetic;

return [

    Module::class => [

        'collections' => [
        ],

        'paths' => [
        ],

        'maps' => [
        ],

        'filters' => [
        ],

        'caching' => [
        ],
    ],
];
